body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  
  /* TODO: Add CSS for the rest of your solution below */
  /*___________________________Row 3___________________________*/ 
  .row3 {
      display: flex;
      justify-content: space-between;
      flex: 5;

  }
  
  .blue3 {
      width: 80px;
      background-color: blue;
  }
  
  .red3 {
    width: 80px;
    background-color: red;
  }

  /*___________________________Row 4___________________________*/

  .row4 {
      display: flex;
      flex: 3;
  }

  .blue4 {
      width: 80px;
      background-color: blue;
  }

  .red4 {
      width: 100%;
      background-color: red;
  }

  /*___________________________Row 5___________________________*/

  .row5 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  .red5 {
      width: 40px;
      height: 40px;
      background-color: red;

  }
  /*___________________________Row 6___________________________*/

  .row6 {
      display: flex;
      flex: 1;
  }
  
  .blue6 {
    width: 80px;
    background-color: blue;
  }

  .red61, .red62 {
      background-color: red;
      width: 50%;
  }

  /*___________________________Row 7___________________________*/

  .row7 {
    display: flex;
    flex: 1;
  }

  .blue7 {
      display: flex;
      flex: 1;
      flex-direction: column-reverse;
      justify-content: space-between;
  }
  .blue71, .blue72 {
    height: 33%;
    background-color: blue;
  }

  .red7 {
    width: 80px;
    background-color: red;
  }
  
  /*___________________________Row 8___________________________*/

  .row8 {
      display: flex;
      flex: 1;
      justify-content: space-between;
  }

  .yellow8 {
      width: 80px;
      background-color: orange;
  }

  /*___________________________Row 8___________________________*/

  .row9 {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .yellow9 {
    width: 19%;
    background-color: orange;
  }